@font-face {
    font-family: 'Cascadia Code';
    src: url('./fonts/CascadiaCodeNF-Regular.woff2'), format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cascadia Code';
    src: url('./fonts/CascadiaCodeNF-Bold.woff2'), format('woff2');
    font-weight: bold;
    font-style: normal;
}